language: cpp
compiler:
  - gcc
  - clang
install:
  - yes | sudo add-apt-repository ppa:ubuntu-sdk-team/ppa
  - sudo apt-get update
  - sudo apt-get install qtcreator libqt5webkit5-dev qtlocation5-dev qtsensors5-dev libxslt-dev libsqlite3-dev libgstreamer-plugins-base0.10-dev
script:
  - qmake -project
  - qmake jentos_ide.pro
  - make
os:
  - linux
  - osx
