branches:
  only:
    - master
    - dev
os: Visual Studio 2015
install:
  - curl -O https://raw.githubusercontent.com/malublu/Jentos_IDE-Buildscripts/master/win/before_install.bat
  - curl -O https://raw.githubusercontent.com/malublu/Jentos_IDE-Buildscripts/master/win/install.bat
  - curl -O https://raw.githubusercontent.com/malublu/Jentos_IDE-Buildscripts/master/win/script.bat
  - .\before_install.bat
  - .\install.bat
build_script:
  - .\script.bat
artifacts:
  - path: win32-$(APPVEYOR_REPO_COMMIT)-$(APPVEYOR_REPO_BRANCH).zip
    name: win32-$(APPVEYOR_REPO_COMMIT)-$(APPVEYOR_REPO_BRANCH)
deploy:
  provider: FTP
  protocol: sftp
  host:
    secure: jU9kFjTqDGq3dZ86LYeryQ==
  username:
    secure: RangKP3Iv6QgFc5vCH4zjQ==
  password:
    secure: 4bH1k11ldoR+vq10Xz1g7IERBCvoIXwJyEdtiwCe5m54E7ZoQ5FddK8+Eh5f6X5g
  folder:
    secure: +qnTMNyzwz5z2g9QT3vkjw==
